include HISTORY.rst
include requirements.txt
include freebie/rss_feeds.csv
include freebie/websources.csv
include freebie/twitter_handles.csv

recursive-exclude * __pycache__
recursive-exclude * *.py[co]